#output-target {
   padding: 2%;
   margin: 2%;
}

.blue {
   color: blue;
}

.hulk {
   font-size: 4em;
   font-style: bolder;
}

.border {
   border: 3px solid black;
}

.rounded {
   border-radius: 20px;
}

section:first-child {
   font-weight: bolder;
}

section:last-child {
   font-style: italic;
   font-weight: bolder;
}
